@font-face {
    font-family: 'nunito';
    src: url(../fonts/Nunito_Sans/static/NunitoSans_10pt-Light.ttf);
}

@font-face {
    font-family: 'nunitobold';
    src: url(../fonts/Nunito_Sans/static/NunitoSans_10pt-ExtraBold.ttf);
}

@font-face {
    font-family: 'semibold';
    src: url(../fonts/Nunito_Sans/static/NunitoSans_10pt-SemiBold.ttf);
}

@font-face {
    font-family: 'oswald';
    src: url(../fonts/Oswald/static/Oswald-Bold.ttf);
}

@font-face {
    font-family: 'oswaldreg';
    src: url(../fonts/Oswald/static/Oswald-Regular.ttf);
}