/* Galeria */
.main-galeria {
    margin-top: 250px;
    margin-bottom: 150px;
    overflow: hidden;

    .titulo-galeria {
        margin-top: 100px;
        margin-bottom: 100px;
        font-size: 40px;
        display: flex;
        justify-content: center;
        font-family: map-get($fuentes, subtitulos-parrafos);
        margin-bottom: 350px;
    }
    .separador-galeria {
        height: 1px;
        width: 70%;
        color: black;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 200px;
    }

    .grilla-galeria {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        margin-top: 50px;

        img {
            width: 100%;
            height: 350px;
        }

        .card-1 {
            justify-self: center;
            margin-top: 100px;
            margin-bottom: 80px;
        }

        .card-2 {
            justify-self: center;
            margin-top: 100px;
            margin-bottom: 80px;
        }

        .card-3 {
            justify-self: center;
            margin-top: 100px;
            margin-bottom: 80px;
        }

        .card-4 {
            justify-self: center;

        }

        .card-5 {
            justify-self: center;

        }

        .card-6 {
            justify-self: center;

        }
    }
}