.header-index-gracias {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-fondo;
    box-shadow: 0px 2px 7px #073c59;
    .logo-mundografico-gracias {
        width: 60px;
        height: 60px;
    }
}

#gracias-cont {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    #gracias-title {
        font-family: map-get($map: $fuentes, $key: listasnavegacion);
        font-weight: 600;
        font-size: 35px;
        text-align: center;
        margin-bottom: 50px;
    }

    #parrafo-gracias {
        font-family: map-get($map: $fuentes, $key: listasnavegacion);
        font-size: 25px;
        text-align: center;
    }

    #firma-gracias{
        width: 100%;
        height: auto;
        margin-top: 100px;
        #equipoMG-gracias {
            font-size: 20px;
            margin-left: 10px;
            text-decoration:underline;
        }
    }
}