/* Header - Nav */
.header-index {
    margin-bottom: 100px;
    height: 68px;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: $color-fondo;
    box-shadow: 0px 2px 7px #073c59;
    .logo-mundografico {
        width: 45px;
        height: 45px;
    }
    .icono-wsapp1 {
        display: flex;
        position: fixed;
        bottom: 5px;
        right: 5px;
        img {
            width: 40px;
            height: 40px;
        }
    }
    .navbar-collapse {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .navbar-nav  {
            overflow: hidden;
            .nav-item {
                margin: 0 30px;
                font-family: map-get($fuentes, listasnavegacion);
                transition: all 0.5s;
                object-fit: cover;
                .nav-link {
                    font-size: 17px;
                    font-weight: 100;
                    color: $color-texto;
                    text-decoration: none;
                    transition: all 0.4s;
                }
                .nav-link:hover {
                    color: #0f9ac0;
                }
            }
        }
    }
}