/* Header - Nav */
.header-index {
    margin-bottom: 100px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $color-fondo;

    .logo-mundografico {
        width: 60px;
        height: 60px;
    }

    .icono-wsapp1 {
        display: flex;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    .icono-wsapp1 img {
        width: 50px;
        height: 50px;
    }

    .navbar-collapse {
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
            margin: 0 25px;
            font-family: map-get($fuentes, listasnavegacion);
        }

        a {
            font-size: 22px;
            color: $color-texto;
            text-decoration: none;
        }
    }
}