/* Main - Grilla */
.main-index {
    margin-top: 200px;
    overflow: hidden;

    .section-presentacion-grilla {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 200px);
        grid-template-areas: "presentacion carousel";
        margin-bottom: 125px;
        .presentacion {
            grid-area: presentacion;
            grid-column: 1 / 2;
            grid-row: 1 / 4;
            justify-self: center;

            .titulo-main {
                font-size: 55px;
                font-family: map-get($fuentes, titulos);
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
            }

            .subt-main {
                font-size: 30px;
                font-family: map-get($fuentes, subtitulos-parrafos);
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
            }

            img {
                width: 80%;
                height: 350px;
            }
        }
        .carousel {
            grid-area: carousel;
            grid-column: 2/3;
            grid-row: 1/4;
            display: flex;
            margin-right: 10px;
        }
    }
}