@media (max-width: 550px) {
    /*Header-Nav*/
    .header-index {
        margin-bottom: 20px;
        width: 100%;
        height: auto;
        background-color: $mobile-color-fondo;

        .navbar {
            width: 100%;
            height: auto;

            .container-fluid {
                width: 100%;
                justify-content: space-between;

                .navbar-brand {
                    display: flex;

                    .logo-mundografico {
                        width: 40px;
                        height: 40px;
                    }
                }

                .icono-wsapp1 {
                    display: none;
                }

                .navbar-toggler {
                    border: none;
                }

                .collapse {
                    .navbar-nav {
                        .nav-item {
                            a {
                                color: $color-texto;
                            }
                        }
                    }
                }
            }
        }
    }
    /*Banner*/
    .first-banner-swal {
        width: 95%;
        font-size: 10px;
        margin-top: 50px;
        img.banner-image {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
    .second-banner-swal {
        max-width: 40%;
        font-size: 10px;
        img.banner-image {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
    /*Grilla*/
    .main-index {
        margin-top: 120px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .section-presentacion-grilla {
            width: 95%;
            height: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 100px;

            .presentacion {
                display: flex;
                flex-direction: column;

                .multi-animada-titulos {
                    .titulo-main {
                        font-size: 40px;
                        text-align: center;
                    }

                    .subt-main {
                        font-size: 30px;
                        text-align: center;
                    }
                }

                .multi-animada-banner {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 25%;
                        height: auto;
                        margin-bottom: 40px;
                    }
                }
            }

            #carouselExampleAutoplaying {
                width: 80%;
                height: auto;
                display: flex;
            }
            .BanneryPromos{
                width: 95%;
                height: auto;
                margin-top: 50px;
            }
        }
    }

    /* Sobre Nosotros */
    .sobre-nosotros-index {
        background-color: $mobile-color-fondo;
        flex-direction: column;

        .titulo-nosotros {
            font-size: 35px;
            text-align: center;
            justify-content: center;
            margin-bottom: 70px;
        }

        .parrafo-nosotros {
            font-size: 25px;
            justify-content: center;
            text-align: justify;
        }
    }

    .main-sobre-nosotros {
        margin-top: 100px;
        width: 100%;
        height: auto;
        display: flex;

        .sobre-nosotros-1 {
            background-color: $mobile-color-fondo;
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 50px;

            .titulo-nosotros {
                font-size: 30px;
                justify-content: center;
                margin-bottom: 70px;
            }

            .parrafo-nosotros {
                font-size: 25px;
                justify-content: center;
                text-align: justify;
            }
        }
    }

    /* Galeria */
    .main-galeria {
        margin-top: 70px;
        margin-bottom: 50px;

        .titulo-galeria {
            margin-top: 120px;
            margin-bottom: 150px;
            font-size: 35px;
        }

        .grilla-galeria {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            margin-top: 100px;

            .card-gal {
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
            }

            img {
                width: 70%;
                height: auto;
            }
        }
    }

    /* Productos */
    .productos-index {
        display: flex;
        align-items: center;
        width: 95%;
        height: auto;
        margin: 15px;
        margin-top: 40px;
        margin-bottom: 40px;

        .contenedor-prod {
            width: 100%;
            height: auto;
            gap: 30px;
            .tarjeta-sinbordes-index {
                width: 100%;
                justify-content: center;
                border: none;
                border-radius: none;
                align-items: center;

                .producto-animacion-zoom {
                    display: flex;
                    justify-content: center;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }

    .main-productos {
        margin-top: 70px;
        margin-bottom: 50px;

        .titulo-producto {
            margin-top: 120px;
            margin-bottom: 150px;
            font-size: 35px;
        }

        .card-productos {
            grid-template-columns: auto;
            grid-template-rows: auto;
            flex-direction: column;
            display: flex;
            align-items: center;

            .card-prod {
                width: 80%;
                height: auto;
            }

            p {
                width: 100%;
            }

            img {
                width: 90%;
                height: auto;
            }

            .p-5 {
                width: 90%;
                height: auto;
            }

            .p-6 {
                width: 60%;
                height: auto;
            }

            .p-7 {
                margin-bottom: 1px;
            }

            .p-8 {
                margin-bottom: 10px;
            }
        }
    }

    /* Nuestra mision */
    .nuestra-mision-index {
        background-color: $mobile-color-fondo;
        flex-direction: column;

        .titulo-mision {
            font-size: 35px;
            text-align: center;
            justify-content: center;
            margin-bottom: 70px;
        }

        .parrafo-mision {
            font-size: 25px;
            justify-content: center;
            text-align: justify;
        }
    }

    /*Contacto*/
    .contacto-index {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        margin-bottom: 100px;

        .titulo-contacto {
            font-size: 25px;
            justify-content: center;
            text-align: center;
        }

        .redes-index {
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            align-self: center;

            img {
                width: 40px;
                height: 40px;
            }
        }

        .form-index {
            flex-direction: column;
            align-items: center;
            width: 100%;

            .mapa-contacto {
                width: 90%;
                height: 300px;
                margin-bottom: 50px;
            }

            .formulario-contacto {
                width: 90%;
                display: flex;
                align-self: center;

                .boton-form {
                    background-color: $mobile-color-fondo;
                    border: $mobile-color-fondo;
                    color: $color-texto;
                }
            }
        }
    }

    .main-contacto {
        width: 100%;
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;

        .contenedor-contacto {
            width: 100%;
            display: flex;
            flex-direction: column;

            .titulo-contacto {
                font-size: 30px;
                text-align: center;
            }

            .redes-contacto {
                width: 100%;
                justify-content: space-evenly;
                align-items: center;
                align-self: center;

                img {
                    width: 30px;
                    height: 30px;
                }
            }

            .form-contacto {
                flex-direction: column;
                align-items: center;
                width: 90%;
                height: auto;

                .mapa-contacto {
                    width: 90%;
                    height: 300px;
                    margin-bottom: 50px;
                }

                .animacion-contacto {
                    width: 90%;
                    height: 420px;
                    display: flex;
                    justify-content: center;

                    .formulario-contacto {
                        width: 100%;
                        display: flex;
                        align-self: center;

                        .boton-form {
                            background-color: $mobile-color-fondo;
                            border: $mobile-color-fondo;
                            color: $color-texto;
                        }
                    }
                }
            }
        }
    }

    /*Footer*/
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $mobile-color-fondo;

        p {
            color: $color-texto;
            font-size: 15px;
            text-align: center;
        }
    }

    .footer-contacto {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $mobile-color-fondo;

        p {
            color: $color-texto;
            font-size: 15px;
            text-align: center;
        }
    }

    .footer-galeria {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $mobile-color-fondo;

        p {
            color: $color-texto;
            font-size: 15px;
            text-align: center;
        }
    }

    .footer-productos {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $mobile-color-fondo;

        p {
            color: $color-texto;
            font-size: 15px;
            text-align: center;
        }
    }

    .footer-aboutus {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $mobile-color-fondo;

        p {
            color: $color-texto;
            font-size: 15px;
            text-align: center;
        }
    }
}