/* Sobre Nosotros */
.sobre-nosotros-index {
    background-color: $color-fondo;
    padding: 2% 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
    .titulo-nosotros {
        color: $color-texto;
        font-size: 40px;
        font-family: map-get($fuentes, titulos);
        display: flex;
        justify-content: center;
        margin-bottom: 70px;
    }

    .parrafo-nosotros {
        font-size: 30px;
        color: $color-texto;
        text-align: center;
        font-family: map-get($fuentes, subtitulos-parrafos);
    }
}

.main-sobre-nosotros {
    overflow: hidden;
    
    .sobre-nosotros-1 {
        background-color: $color-fondo;
        padding: 5% 5%;
        display: flex;
        flex-direction: column;
        margin-bottom: 291px;

        .titulo-nosotros {
            color: $color-texto;
            font-size: 50px;
            font-family: map-get($fuentes, titulos);
            display: flex;
            justify-content: center;
            margin-bottom: 70px;
        }

        .parrafo-nosotros {
            font-size: 35px;
            color: $color-texto;
            font-family: map-get($fuentes, subtitulos-parrafos);
        }
    }
}