@font-face {
  font-family: "nunito";
  src: url(../fonts/Nunito_Sans/static/NunitoSans_10pt-Light.ttf);
}
@font-face {
  font-family: "semibold";
  src: url(../fonts/Nunito_Sans/static/NunitoSans_10pt-SemiBold.ttf);
}
@font-face {
  font-family: "oswald";
  src: url(../fonts/Oswald/static/Oswald-Bold.ttf);
}
@font-face {
  font-family: "oswaldreg";
  src: url(../fonts/Oswald/static/Oswald-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header - Nav */
.header-index {
  margin-bottom: 100px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #0f9ac0;
}
.header-index .logo-mundografico {
  width: 50px;
  height: 50px;
}
.header-index .icono-wsapp1 {
  display: flex;
  position: fixed;
  bottom: 5px;
  right: 5px;
}
.header-index .icono-wsapp1 img {
  width: 40px;
  height: 40px;
}
.header-index .navbar-collapse {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-index .navbar-collapse .navbar-nav {
  overflow: hidden;
}
.header-index .navbar-collapse .navbar-nav .nav-item {
  margin: 0 30px;
  font-family: "nunito";
  transition: all 0.5s;
  object-fit: cover;
}
.header-index .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 20px;
  font-weight: 100;
  color: #FAFAFA;
  text-decoration: none;
  transition: all 0.4s;
}
.header-index .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #16161D;
}

/* Main - Grilla */
.main-index {
  margin-top: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.main-index .section-presentacion-grilla {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 200px);
  grid-template-areas: "presentacion carousel";
  width: 95%;
  height: auto;
  margin-bottom: 125px;
}
.main-index .section-presentacion-grilla .presentacion {
  grid-area: presentacion;
  grid-column: 1/2;
  grid-row: 1/4;
  justify-self: center;
}
.main-index .section-presentacion-grilla .presentacion .multi-animada-titulos .titulo-main {
  font-size: 55px;
  font-family: "oswald";
  display: flex;
  justify-content: center;
  text-align: center;
  justify-self: center;
  margin-bottom: 20px;
}
.main-index .section-presentacion-grilla .presentacion .multi-animada-titulos .subt-main {
  font-size: 30px;
  font-family: "oswaldreg";
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.main-index .section-presentacion-grilla .presentacion .multi-animada-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-index .section-presentacion-grilla .presentacion .multi-animada-banner img {
  width: 75%;
  height: 250px;
}
.main-index .section-presentacion-grilla .carousel {
  grid-area: carousel;
  grid-column: 2/3;
  grid-row: 1/4;
  display: flex;
  margin-right: 10px;
}

/* Sobre Nosotros */
.sobre-nosotros-index {
  background-color: #0f9ac0;
  padding: 2% 2%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sobre-nosotros-index .titulo-nosotros {
  color: #FAFAFA;
  font-size: 40px;
  font-family: "oswald";
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.sobre-nosotros-index .parrafo-nosotros {
  font-size: 30px;
  color: #FAFAFA;
  text-align: center;
  font-family: "oswaldreg";
}

.main-sobre-nosotros {
  overflow: hidden;
  margin-bottom: 10px;
}
.main-sobre-nosotros .sobre-nosotros-1 {
  background-color: #0f9ac0;
  padding: 5% 5%;
  display: flex;
  flex-direction: column;
  margin-bottom: 291px;
}
.main-sobre-nosotros .sobre-nosotros-1 .titulo-nosotros {
  color: #FAFAFA;
  font-size: 50px;
  font-family: "oswald";
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.main-sobre-nosotros .sobre-nosotros-1 .parrafo-nosotros {
  font-size: 35px;
  color: #FAFAFA;
  font-family: "oswaldreg";
}

/* Productos */
.productos-index {
  margin: 150px 0;
}
.productos-index .contenedor-prod {
  display: flex;
  justify-content: center;
}
.productos-index .contenedor-prod .tarjeta-sinbordes-index img {
  width: 350px;
  height: 420px;
}

.main-productos {
  margin-top: 250px;
  margin-bottom: 150px;
  overflow: hidden;
}
.main-productos .titulo-producto {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 300px;
  font-family: "oswaldreg";
}
.main-productos .separador-productos {
  width: 80%;
  height: 1px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}
.main-productos .card-productos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(10, 1fr);
  margin-top: 50px;
}
.main-productos .card-productos .productoanimado-right {
  display: grid;
  grid-column: 1/3;
}
.main-productos .card-productos .productoanimado-left {
  display: grid;
  grid-column: 1/3;
}
.main-productos .card-productos .card-prod {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  justify-self: center;
}
.main-productos .card-productos .card-prod p {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  font-family: "oswaldreg";
  font-size: 25px;
}
.main-productos .card-productos .card-prod img {
  width: 50%;
  height: auto;
}
.main-productos .card-productos .p-1 {
  grid-column: 1/3;
  grid-row: 1/2;
}
.main-productos .card-productos .p-2 {
  grid-column: 1/3;
  grid-row: 2/3;
}
.main-productos .card-productos .p-3 {
  grid-column: 1/3;
  grid-row: 3/4;
  margin-bottom: 80px;
}
.main-productos .card-productos .p-4 {
  grid-column: 1/3;
  grid-row: 4/5;
}
.main-productos .card-productos .p-5 {
  grid-column: 1/3;
  grid-row: 5/6;
}
.main-productos .card-productos .p-6 {
  grid-column: 1/3;
  grid-row: 6/7;
}
.main-productos .card-productos .p-6 img {
  width: 40%;
}
.main-productos .card-productos .p-7 {
  grid-column: 1/3;
  grid-row: 7/8;
  margin-bottom: -180px;
}
.main-productos .card-productos .p-8 {
  grid-column: 1/3;
  grid-row: 8/9;
}
.main-productos .card-productos .p-9 {
  grid-column: 1/3;
  grid-row: 9/10;
  margin-bottom: 100px;
}
.main-productos .card-productos .p-10 {
  grid-column: 1/3;
  grid-row: 10/11;
  margin-bottom: 50px;
}

/* Nuestra mision */
.nuestra-mision-index {
  background-color: #0f9ac0;
  padding: 2% 2%;
  display: flex;
  flex-direction: column;
}
.nuestra-mision-index .titulo-mision {
  color: #FAFAFA;
  font-size: 40px;
  font-family: "oswald";
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.nuestra-mision-index .parrafo-mision {
  font-size: 30px;
  color: #FAFAFA;
  text-align: center;
  font-family: "oswaldreg";
}

/* Galeria */
.main-galeria {
  margin-top: 250px;
  margin-bottom: 150px;
  overflow: hidden;
}
.main-galeria .titulo-galeria {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 300px;
  font-family: "oswaldreg";
}
.main-galeria .separador-galeria {
  width: 80%;
  height: 1px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}
.main-galeria .grilla-galeria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  margin-top: 50px;
}
.main-galeria .grilla-galeria .card-gal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.main-galeria .grilla-galeria .card-gal img {
  width: 70%;
  height: auto;
}
.main-galeria .grilla-galeria .card-gal .gal-1 {
  margin-top: 100px;
  margin-bottom: 80px;
}
.main-galeria .grilla-galeria .card-gal .gal-2 {
  margin-top: 100px;
  margin-bottom: 80px;
}
.main-galeria .grilla-galeria .card-gal .gal-3 {
  margin-top: 100px;
  margin-bottom: 80px;
}

/* Contacto */
.contacto-index {
  margin-top: 200px;
  margin-bottom: 100px;
  width: 80%;
  height: auto;
}
.contacto-index .titulo-contacto {
  font-size: 40px;
  font-family: "oswald";
  display: flex;
  justify-content: center;
}
.contacto-index .redes-index {
  display: flex;
  justify-content: space-around;
  margin: 60px;
}
.contacto-index .redes-index img {
  width: 40px;
  height: 40px;
}
.contacto-index .form-index {
  display: flex;
  justify-content: space-around;
  align-self: center;
}
.contacto-index .form-index .mapa-contacto {
  width: 600px;
  height: 450px;
  box-shadow: 0 2px 5px;
}
.contacto-index .form-index .formulario-contacto {
  width: 35%;
  height: 40%;
  padding: 5px;
  background-color: #FAFAFA;
  color: #999;
  border-radius: 3px;
  box-shadow: 0 5px 15px;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.contacto-index .form-index .formulario-contacto input,
.contacto-index .form-index .formulario-contacto textarea {
  border: 0;
  outline: none;
}
.contacto-index .form-index .formulario-contacto .texto-entrada {
  border: 1px solid #ccc;
  padding: 2px;
}
.contacto-index .form-index .formulario-contacto .texto-entrada:focus {
  border-color: #0f9ac0;
}
.contacto-index .form-index .formulario-contacto .boton-form {
  color: #FAFAFA;
  background-color: #0f9ac0;
  padding: 2px;
}
.contacto-index .form-index .formulario-contacto .boton-form:hover {
  color: #16161D;
}

.main-contacto {
  margin-top: 150px;
  margin-bottom: 100px;
  overflow: hidden;
}
.main-contacto .contenedor-contacto {
  width: 100%;
  height: auto;
}
.main-contacto .contenedor-contacto .titulo-contacto {
  width: 100%;
  height: auto;
  font-size: 40px;
  font-family: "oswald";
  display: flex;
  justify-content: center;
}
.main-contacto .contenedor-contacto .redes-contacto {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}
.main-contacto .contenedor-contacto .redes-contacto img {
  width: 100%;
  height: 40px;
}
.main-contacto .contenedor-contacto .form-contacto {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-self: center;
  align-items: center;
}
.main-contacto .contenedor-contacto .form-contacto .mapa-contacto {
  width: 600px;
  height: 450px;
  box-shadow: 0 2px 5px;
}
.main-contacto .contenedor-contacto .form-contacto .animacion-contacto {
  width: 30%;
}
.main-contacto .contenedor-contacto .form-contacto .animacion-contacto .formulario-contacto {
  padding: 5px;
  background-color: #FAFAFA;
  color: #999;
  border-radius: 3px;
  box-shadow: 0 5px 15px;
  display: flex;
  flex-direction: column;
}
.main-contacto .contenedor-contacto .form-contacto .animacion-contacto .formulario-contacto input, .main-contacto .contenedor-contacto .form-contacto .animacion-contacto .formulario-contacto textarea {
  border: none;
  outline: none;
}
.main-contacto .contenedor-contacto .form-contacto .animacion-contacto .formulario-contacto .texto-entrada {
  border: 1px solid #ccc;
  padding: 2px;
}
.main-contacto .contenedor-contacto .form-contacto .animacion-contacto .formulario-contacto .texto-entrada:focus {
  border-color: #0f9ac0;
}
.main-contacto .contenedor-contacto .form-contacto .animacion-contacto .formulario-contacto .boton-form {
  color: #FAFAFA;
  background-color: #0f9ac0;
  padding: 2px;
}
.main-contacto .contenedor-contacto .form-contacto .animacion-contacto .formulario-contacto .boton-form:hover {
  color: #16161D;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  background-color: #32A6D5;
  padding-top: 10px;
}
footer p {
  color: #FAFAFA;
  font-size: 20px;
  font-family: "semibold";
  display: flex;
}

.footer-contacto {
  display: flex;
  margin-top: 100px;
}

.footer-aboutus {
  display: flex;
  padding-top: 10px;
}

.footer-productos {
  display: flex;
  padding-top: 10px;
}

@media (max-width: 550px) {
  /*Header-Nav*/
  .header-index {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    background-color: #485DA1;
  }
  .header-index .navbar {
    width: 100%;
    height: auto;
  }
  .header-index .navbar .container-fluid {
    width: 100%;
    justify-content: space-between;
  }
  .header-index .navbar .container-fluid .navbar-brand {
    display: flex;
  }
  .header-index .navbar .container-fluid .navbar-brand .logo-mundografico {
    width: 40px;
    height: 40px;
  }
  .header-index .navbar .container-fluid .icono-wsapp1 {
    display: none;
  }
  .header-index .navbar .container-fluid .navbar-toggler {
    border: none;
  }
  .header-index .navbar .container-fluid .collapse .navbar-nav .nav-item a {
    color: #FAFAFA;
  }
  /*Grilla*/
  .main-index {
    margin-top: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .main-index .section-presentacion-grilla {
    width: 95%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .main-index .section-presentacion-grilla .presentacion {
    display: flex;
    flex-direction: column;
  }
  .main-index .section-presentacion-grilla .presentacion .multi-animada-titulos .titulo-main {
    font-size: 40px;
    text-align: center;
  }
  .main-index .section-presentacion-grilla .presentacion .multi-animada-titulos .subt-main {
    font-size: 30px;
    text-align: center;
  }
  .main-index .section-presentacion-grilla .presentacion .multi-animada-banner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-index .section-presentacion-grilla .presentacion .multi-animada-banner img {
    width: 80%;
    height: auto;
  }
  .main-index .section-presentacion-grilla #carouselExampleAutoplaying {
    width: 100%;
    height: auto;
    display: flex;
    align-self: normal;
  }
  /* Sobre Nosotros */
  .sobre-nosotros-index {
    background-color: #485DA1;
    flex-direction: column;
  }
  .sobre-nosotros-index .titulo-nosotros {
    font-size: 35px;
    text-align: center;
    justify-content: center;
    margin-bottom: 70px;
  }
  .sobre-nosotros-index .parrafo-nosotros {
    font-size: 25px;
    justify-content: center;
    text-align: justify;
  }
  .main-sobre-nosotros {
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: flex;
  }
  .main-sobre-nosotros .sobre-nosotros-1 {
    background-color: #485DA1;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .main-sobre-nosotros .sobre-nosotros-1 .titulo-nosotros {
    font-size: 30px;
    justify-content: center;
    margin-bottom: 70px;
  }
  .main-sobre-nosotros .sobre-nosotros-1 .parrafo-nosotros {
    font-size: 25px;
    justify-content: center;
    text-align: justify;
  }
  /* Galeria */
  .main-galeria {
    margin-top: 70px;
    margin-bottom: 50px;
  }
  .main-galeria .titulo-galeria {
    margin-top: 120px;
    margin-bottom: 150px;
    font-size: 35px;
  }
  .main-galeria .grilla-galeria {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 100px;
  }
  .main-galeria .grilla-galeria .card-gal {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .main-galeria .grilla-galeria img {
    width: 70%;
    height: auto;
  }
  /* Productos */
  .productos-index {
    display: flex;
    align-items: center;
  }
  .productos-index .contenedor-prod {
    flex-direction: column;
  }
  .productos-index .contenedor-prod .tarjeta-sinbordes-index {
    justify-content: center;
    border: none;
    border-radius: none;
    align-items: center;
  }
  .productos-index .contenedor-prod .tarjeta-sinbordes-index .producto-animacion-zoom {
    display: flex;
    justify-content: center;
  }
  .productos-index .contenedor-prod .tarjeta-sinbordes-index .producto-animacion-zoom img {
    width: 50%;
    height: auto;
  }
  .main-productos {
    margin-top: 70px;
    margin-bottom: 50px;
  }
  .main-productos .titulo-producto {
    margin-top: 120px;
    margin-bottom: 150px;
    font-size: 35px;
  }
  .main-productos .card-productos {
    grid-template-columns: auto;
    grid-template-rows: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .main-productos .card-productos .card-prod {
    width: 80%;
    height: auto;
  }
  .main-productos .card-productos p {
    width: 100%;
  }
  .main-productos .card-productos img {
    width: 90%;
    height: auto;
  }
  .main-productos .card-productos .p-5 {
    width: 90%;
    height: auto;
  }
  .main-productos .card-productos .p-6 {
    width: 60%;
    height: auto;
  }
  .main-productos .card-productos .p-7 {
    margin-bottom: 1px;
  }
  .main-productos .card-productos .p-8 {
    margin-bottom: 10px;
  }
  /* Nuestra mision */
  .nuestra-mision-index {
    background-color: #485DA1;
    flex-direction: column;
  }
  .nuestra-mision-index .titulo-mision {
    font-size: 35px;
    text-align: center;
    justify-content: center;
    margin-bottom: 70px;
  }
  .nuestra-mision-index .parrafo-mision {
    font-size: 25px;
    justify-content: center;
    text-align: justify;
  }
  /*Contacto*/
  .contacto-index {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .contacto-index .titulo-contacto {
    font-size: 25px;
    justify-content: center;
    text-align: center;
  }
  .contacto-index .redes-index {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
  }
  .contacto-index .redes-index img {
    width: 40px;
    height: 40px;
  }
  .contacto-index .form-index {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .contacto-index .form-index .mapa-contacto {
    width: 90%;
    height: 300px;
    margin-bottom: 50px;
  }
  .contacto-index .form-index .formulario-contacto {
    width: 90%;
    display: flex;
    align-self: center;
  }
  .contacto-index .form-index .formulario-contacto .boton-form {
    background-color: #485DA1;
    border: #485DA1;
    color: #FAFAFA;
  }
  .main-contacto {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
  }
  .main-contacto .contenedor-contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .main-contacto .contenedor-contacto .titulo-contacto {
    font-size: 30px;
    text-align: center;
  }
  .main-contacto .contenedor-contacto .redes-contacto {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
  }
  .main-contacto .contenedor-contacto .redes-contacto img {
    width: 30px;
    height: 30px;
  }
  .main-contacto .contenedor-contacto .form-contacto {
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
  }
  .main-contacto .contenedor-contacto .form-contacto .mapa-contacto {
    width: 90%;
    height: 300px;
    margin-bottom: 50px;
  }
  .main-contacto .contenedor-contacto .form-contacto .animacion-contacto {
    width: 90%;
    height: 420px;
    display: flex;
    justify-content: center;
  }
  .main-contacto .contenedor-contacto .form-contacto .animacion-contacto .formulario-contacto {
    width: 100%;
    display: flex;
    align-self: center;
  }
  .main-contacto .contenedor-contacto .form-contacto .animacion-contacto .formulario-contacto .boton-form {
    background-color: #485DA1;
    border: #485DA1;
    color: #FAFAFA;
  }
  /*Footer*/
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #485DA1;
  }
  footer p {
    color: #FAFAFA;
    font-size: 15px;
    text-align: center;
  }
  .footer-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #485DA1;
  }
  .footer-contacto p {
    color: #FAFAFA;
    font-size: 15px;
    text-align: center;
  }
  .footer-galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #485DA1;
  }
  .footer-galeria p {
    color: #FAFAFA;
    font-size: 15px;
    text-align: center;
  }
  .footer-productos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #485DA1;
  }
  .footer-productos p {
    color: #FAFAFA;
    font-size: 15px;
    text-align: center;
  }
  .footer-aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #485DA1;
  }
  .footer-aboutus p {
    color: #FAFAFA;
    font-size: 15px;
    text-align: center;
  }
}
@media (min-width: 551px) and (max-width: 1199px) {
  /*Header-Nav*/
  .header-index {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    background-color: #485DA1;
  }
  .header-index .navbar {
    width: 100%;
    height: auto;
  }
  .header-index .navbar .container-fluid {
    width: 100%;
    justify-content: space-between;
  }
  .header-index .navbar .container-fluid .navbar-brand {
    display: flex;
  }
  .header-index .navbar .container-fluid .navbar-brand .logo-mundografico {
    width: 40px;
    height: 40px;
  }
  .header-index .navbar .container-fluid .icono-wsapp1 {
    display: none;
  }
  .header-index .navbar .container-fluid .navbar-toggler {
    border: none;
  }
  .header-index .navbar .container-fluid .collapse .navbar-nav .nav-item a {
    color: #FAFAFA;
  }
  /*Grilla*/
  .main-index {
    margin-top: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .main-index .section-presentacion-grilla {
    width: 95%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .main-index .section-presentacion-grilla .presentacion {
    display: flex;
    flex-direction: column;
  }
  .main-index .section-presentacion-grilla .presentacion .multi-animada-titulos .titulo-main {
    font-size: 40px;
    text-align: center;
  }
  .main-index .section-presentacion-grilla .presentacion .multi-animada-titulos .subt-main {
    font-size: 30px;
    text-align: center;
  }
  .main-index .section-presentacion-grilla .presentacion .multi-animada-banner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-index .section-presentacion-grilla .presentacion .multi-animada-banner img {
    width: 80%;
    height: auto;
  }
  .main-index .section-presentacion-grilla #carouselExampleAutoplaying {
    width: 100%;
    height: auto;
    display: flex;
    align-self: normal;
  }
  /* Sobre Nosotros */
  .sobre-nosotros-index {
    background-color: #485DA1;
    flex-direction: column;
  }
  .sobre-nosotros-index .titulo-nosotros {
    font-size: 35px;
    justify-content: center;
    margin-bottom: 70px;
  }
  .sobre-nosotros-index .parrafo-nosotros {
    font-size: 25px;
    justify-content: center;
    text-align: justify;
  }
  .main-sobre-nosotros {
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: flex;
  }
  .main-sobre-nosotros .sobre-nosotros-1 {
    background-color: #485DA1;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .main-sobre-nosotros .sobre-nosotros-1 .titulo-nosotros {
    font-size: 30px;
    justify-content: center;
    margin-bottom: 70px;
  }
  .main-sobre-nosotros .sobre-nosotros-1 .parrafo-nosotros {
    font-size: 25px;
    justify-content: center;
    text-align: justify;
  }
  /* Galeria */
  .main-galeria {
    margin-top: 70px;
    margin-bottom: 50px;
  }
  .main-galeria .titulo-galeria {
    margin-top: 120px;
    margin-bottom: 150px;
    font-size: 35px;
  }
  .main-galeria .grilla-galeria {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 100px;
  }
  .main-galeria .grilla-galeria .card-gal {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .main-galeria .grilla-galeria img {
    width: 70%;
    height: auto;
  }
  /* Productos */
  .productos-index {
    display: flex;
    align-items: center;
  }
  .productos-index .contenedor-prod {
    flex-direction: column;
  }
  .productos-index .contenedor-prod .tarjeta-sinbordes-index {
    justify-content: center;
    border: none;
    border-radius: none;
    align-items: center;
  }
  .productos-index .contenedor-prod .tarjeta-sinbordes-index .producto-animacion-zoom {
    display: flex;
    justify-content: center;
  }
  .productos-index .contenedor-prod .tarjeta-sinbordes-index .producto-animacion-zoom img {
    width: 50%;
    height: auto;
  }
  .main-productos {
    margin-top: 70px;
    margin-bottom: 50px;
  }
  .main-productos .titulo-producto {
    margin-top: 120px;
    margin-bottom: 150px;
    font-size: 35px;
  }
  .main-productos .card-productos {
    grid-template-columns: auto;
    grid-template-rows: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .main-productos .card-productos .card-prod {
    width: 80%;
    height: auto;
  }
  .main-productos .card-productos p {
    width: 100%;
  }
  .main-productos .card-productos img {
    width: 90%;
    height: auto;
  }
  .main-productos .card-productos .p-5 {
    width: 90%;
    height: auto;
  }
  .main-productos .card-productos .p-6 {
    width: 60%;
    height: auto;
  }
  .main-productos .card-productos .p-7 {
    margin-bottom: 1px;
  }
  .main-productos .card-productos .p-8 {
    margin-bottom: 10px;
  }
  /* Nuestra mision */
  .nuestra-mision-index {
    background-color: #485DA1;
    flex-direction: column;
  }
  .nuestra-mision-index .titulo-mision {
    font-size: 35px;
    justify-content: center;
    margin-bottom: 70px;
  }
  .nuestra-mision-index .parrafo-mision {
    font-size: 25px;
    justify-content: center;
    text-align: justify;
  }
  /*Contacto*/
  .contacto-index {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .contacto-index .titulo-contacto {
    font-size: 25px;
    justify-content: center;
    text-align: center;
  }
  .contacto-index .redes-index {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
  }
  .contacto-index .redes-index img {
    width: 40px;
    height: 40px;
  }
  .contacto-index .form-index {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .contacto-index .form-index .mapa-contacto {
    width: 90%;
    height: 300px;
    margin-bottom: 50px;
  }
  .contacto-index .form-index .formulario-contacto {
    width: 90%;
    display: flex;
    align-self: center;
  }
  .contacto-index .form-index .formulario-contacto .boton-form {
    background-color: #485DA1;
    border: #485DA1;
    color: #FAFAFA;
  }
  .main-contacto {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
  }
  .main-contacto .contenedor-contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .main-contacto .contenedor-contacto .titulo-contacto {
    font-size: 30px;
    text-align: center;
  }
  .main-contacto .contenedor-contacto .redes-contacto {
    justify-content: space-evenly;
  }
  .main-contacto .contenedor-contacto .redes-contacto img {
    width: 30px;
    height: 30px;
  }
  .main-contacto .contenedor-contacto .form-contacto {
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
  }
  .main-contacto .contenedor-contacto .form-contacto .mapa-contacto {
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
  }
  .main-contacto .contenedor-contacto .form-contacto .animacion-contacto {
    width: 90%;
    height: 420px;
    display: flex;
    justify-content: center;
  }
  .main-contacto .contenedor-contacto .form-contacto .animacion-contacto .formulario-contacto {
    width: 90%;
    display: flex;
    align-self: center;
  }
  .main-contacto .contenedor-contacto .form-contacto .animacion-contacto .formulario-contacto .boton-form {
    background-color: #485DA1;
    border: #485DA1;
    color: #FAFAFA;
  }
  /*Footer*/
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #485DA1;
  }
  footer p {
    color: #FAFAFA;
    font-size: 15px;
    text-align: justify;
  }
  .footer-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #485DA1;
  }
  .footer-contacto p {
    color: #FAFAFA;
    font-size: 15px;
    text-align: justify;
  }
  .footer-galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #485DA1;
  }
  .footer-galeria p {
    color: #FAFAFA;
    font-size: 15px;
    text-align: justify;
  }
  .footer-productos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #485DA1;
  }
  .footer-productos p {
    color: #FAFAFA;
    font-size: 15px;
    text-align: justify;
  }
  .footer-aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #485DA1;
  }
  .footer-aboutus p {
    color: #FAFAFA;
    font-size: 15px;
    text-align: justify;
  }
}

/*# sourceMappingURL=styles.css.map */
